.button {
    border-radius: 48px;
    background-color: $orange;
    padding: 16px 24px;
}

.button.hollow {
    border-color: $orange;
    color: $orange;
}

.button-group .button {
    float: left;
}

.button-group .button:first-child {
    margin-right: 16px;
}

.back-button {
    color: $type;
    font-weight: 600;
    font-size: 14px;
    vertical-align: middle;
}

.back-button img {
    margin-right: 4px;
    width: 17.5px;
    height: 16px;
}