.button {
    border-radius: 48px;
    background-color: $orange;
    padding: 16px 24px;
}

.button.hollow {
    border-color: $orange;
    color: $orange;
}

.button-group .button {
    float: left;
}

.button-group .button:first-child {
    margin-right: 16px;
}

.back-button {
    color: $type;
    font-weight: 600;
    font-size: $font-size-small;
    vertical-align: middle;
    margin-bottom: 24px;
    display: block;
    
    
    @media ($breakpoint-medium) {
        margin-bottom: 32px;
    }
    
    @media ($breakpoint-large) {
        margin-bottom: 48px;
        font-size: $font-size-medium;
    }
}

.back-button img {
    margin-right: 4px;
    width: 17.5px;
    height: 16px;
    
    @media ($breakpoint-large) {
        width: auto;
        height: auto;
        margin-right: 10px;
    }
}