input[type="text"] {
    border-radius: 100px;
    border: 1px solid $type;
    margin-bottom: 24px;
    padding: 16px;
    font-size: $font-size-small;
    color: $type;
    
    @media ($breakpoint-medium) {
        height: 48px;
    }
}

