input[type="text"] {
    border-radius: 100px;
    border: 1px solid $type;
    margin-bottom: 24px;
    padding: 16px;
    font-size: $font-size-small;
    color: $type;
    
    @media ($breakpoint-medium) {
        height: 48px;
    }
}
form h4 {
    font-weight: 700;
    
    @media ($breakpoint-large){
        font-size: 20px;
    }
}

fieldset {
    margin-bottom: 16px;
}

label {
    @media ($breakpoint-large) {
        font-size: 18px;
    }
}

.hero input[type="text"] {
    border: 0;
}

input[type="radio"] {
    margin-bottom: 8px;
}
