.hero {
    background: linear-gradient(90deg, $darkblue 0%, #005C97 100%);
    padding: 108px 0 40px;
    margin-bottom: 40px;
    
    @media ($breakpoint-medium) {
        margin-bottom: 80px;
    }
    
    @media ($breakpoint-large) {
        padding: 216px 0 118px;
    }
}

.hero-title {
    color:white;
    font-weight: 300;
    text-align: center;
    margin-bottom: 40px;
    padding: 0 20px;
    
    @media ($breakpoint-medium) {
        font-size: 24px;
        padding: 0 130px;
        margin-bottom: 48px;
    }
    
    @media ($breakpoint-large) {
        font-size: 36px;
    }
}

.hero .button {
    font-weight: 500;
    
    @media ($breakpoint-large) {
        font-weight: 800;
    }
}
