.job-single-title, 
.location-term h4 {
    margin-bottom: 0;
}

.job-single-title {
    
    @media ($breakpoint-medium) {
        margin-bottom: 8px;
    }
}

.job-single-category {
    margin-bottom: 16px;
    color: $orange;
}

.location-term {
    margin-bottom: 24px;
}

.summary-sidebar {
    background-color: $lightgrey;
    padding: 40px 24px;
}