body {
    font-size: $font-size-small;
    font-family: "lato", sans-serif;
    line-height: 1.5;
    max-width: 1280px;
    margin: 0 auto;
    
    @media ($breakpoint-medium) {
        font-size: $font-size-medium;
    }
    
    @media ($breakpoint-large) {
        font-size: $font-size-large;
    }
}

p {
    line-height: 1.5;
}

h1 {
    font-size: 24px;
    color: $blue;
    font-weight: 900;
    
    @media ($breakpoint-medium) {
        font-size: 36px;
    } 
}

h2 {
   font-size: 20px;
    color: $blue;
    font-weight: 900;
    
    @media ($breakpoint-medium) {
        font-size: 24px;
    } 
}

h3 {
    font-size: 18px;
    color: $type;
    font-weight: 700;
    
    @media ($breakpoint-medium) {
        font-size: 18px;
    }
    
    @media ($breakpoint-large) {
        font-size: 20px;
    }
}

h4 {
    font-size: 16px;
    color: $type;
    font-weight: 500;
    
}
