//colours
$darkblue: #363795;
$blue: #1C4996;
$lightblue: #227AB3;
$orange: #E68232;
$darkgrey: #D1D1D1;
$lightgrey: #F9F9F9;
$white: #FFFFFF;
$type: #333333;

//paragraph font size
$font-size-large: 18px;
$font-size-medium: 16px;
$font-size-small: 14px;
